# This workflow will apply a label based on the paths that
# are modified in the pull request.
#
# To use this workflow, setup a .github/labeler.yml file
# with configuration. See:

name: "label-pull-request"
on: [pull_request_target]

jobs:
  label:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v4
